body {
  color: white;
}

h1 {
  color: lightblue;
}

h2 {
	color: orange;
}

p {
	color: brown ;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 17px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family:  Arial, Helvetica, sans-serif;
}

.highlight { color: #e44d26; /* Orange color */ font-weight: bold; }

.container { width: 80%; margin: 0 auto; /* Center the container */ padding: 20px; border: 1px solid #ccc; }

@media screen and (max-width: 600px) { body { font-size: 14px; } }

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

body {
    background-image: url("night.gif");
}

img {
  border-radius: 50%;
}

.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}